/* Add this to your global or component-specific CSS */
body {
  background-color: #b6ffa453;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Darken the background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Add this to your global or component-specific CSS */
.request-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
  }
  
  /* Add this CSS in your component's CSS file or global styles */

  .customPinkColorClass {
    background-color: #fdb5ff; /* Replace with your actual pink color code */
  }
  